<header class="header">

    <div class="header__navigation-box">
        <!--top-side-->
        <div class="header__navigation -top container">

            <a href="" class="header__logo">Quantum</a>

            <div class="header__search-box">
                <input type="search" placeholder="Search goods" class="header__search-field">
                <select class="header__select-category custom-select">
                    <option data-display="Category">Phones</option>
                    <option>Parts</option>
                    <option>Headsets</option>
                    <option>Other</option>
                </select>

                <button class="header__search-button">
                    <img src="./img/search.svg" alt="search">
                </button>
            </div>


            <div class="header__user-interaction">
                <div class="header__button">
                    <div class="header__button-image -shopcart">
                        <img src="./img/shopcart.svg" alt="shopcart">
                        <span></span>
                    </div>
                    <span class="header__button-name">2 Items</span>
                </div>
                <div class="header__button">
                    <div class="header__button-image -wishlist">
                        <img src="./img/wishlist.svg" alt="wishlist">
                    </div>
                    <span class="header__button-name">Wish List</span>
                </div>
                <div class="header__button" id="sing">
                    <div class="header__button-image -user">
                        <img src="./img/user.svg" alt="user">
                    </div>
                    <span class="header__button-name">Sing in</span>
                </div>
            </div>

        </div>


        <!--bottom-side-->
        <div class="header__navigation -bottom">
            <div class="container">
                <div class="header__additional-menu">
                    <!--1-->
                    <div class="header__additional-item -all-list">
                        <div class="header__additional-item-image">
                            <img src="./img/menu.svg" alt="menu">
                        </div>
                        <p class="header__additional-item-name">All Categories</p>
                        <div class="header__hidden-list">
                            <a href="">Cellphones</a>
                            <a href="">Accessories</a>
                            <a href="">Computers</a>
                            <a href="">Smart watches</a>
                            <a href="">TV</a>
                            <a href="">Headphones</a>
                            <a href="">Other</a>
                            <div class="header__popular-links"><!--from header__links-list-->
                                <p class="header__popular-links-title">Popular</p>
                                <a href="">Super Deals</a>
                                <a href="">Featured Brands</a>
                                <a href="">Collections</a>
                                <a href="">Bestselling</a>
                            </div>
                        </div>
                    </div>
                    <!--2-->
                    <div class="header__additional-item -links">
                        <ul class="header__links-list">
                            <li class="header__link-box">
                                <a href="">Super Deals</a>
                            </li>
                            <li class="header__link-box">
                                <a href="">Featured Brands</a>
                            </li>
                            <li class="header__link-box">
                                <a href="">Collections</a>
                            </li>
                            <li class="header__link-box">
                                <a href="">Bestselling</a>
                            </li>
                        </ul>
                    </div>
                    <!--3-->
                    <div class="header__additional-item -settings">
                        <div class="header__set-list">
                            <select class="header__settings-list custom-select">
                                <option data-display="Help">Questions</option>
                                <option>FAQ</option>
                                <option>Support</option>
                            </select>
                        </div>
                        <div class="header__set-list -valute">
                            <select class="header__settings-list custom-select">
                                <option data-display="USD">USD</option>
                                <option>UAH</option>
                                <option>RUB</option>
                            </select>
                        </div>
                        <div class="header__set-list">
                            <select class="header__settings-list custom-select">
                                <option data-display="Language">ENG</option>
                                <option>RU</option>
                                <option>UA</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="header__bottom-items-box">
            <!--left-->
            <div class="header__breadcrumbs">
                <div class="header__crumb-box">
                    <a href="">Main</a>
                    <svg xmlns="http://www.w3.org/2000/svg" class="header__crumb-arrow" width="8" height="5"
                         viewBox="0 0 8 5">
                        <path fill="#cfcfcf" d="M3.998 5L8 2.5V.104L3.998 2.62 0 0v2.5z"/>
                    </svg>
                </div>
                <div class="header__crumb-box">
                    <a href="">Mobile phones</a>
                    <svg xmlns="http://www.w3.org/2000/svg" class="header__crumb-arrow" width="8" height="5"
                         viewBox="0 0 8 5">
                        <path fill="#cfcfcf" d="M3.998 5L8 2.5V.104L3.998 2.62 0 0v2.5z"/>
                    </svg>
                </div>
                <div class="header__crumb-box">
                    <a href="">Apple</a>
                    <svg xmlns="http://www.w3.org/2000/svg" class="header__crumb-arrow" width="8" height="5"
                         viewBox="0 0 8 5">
                        <path fill="#cfcfcf" d="M3.998 5L8 2.5V.104L3.998 2.62 0 0v2.5z"/>
                    </svg>
                </div>
                <div class="header__crumb-box">
                    <a href="">Apple iPhone 7, 128 GB</a>
                </div>
            </div>
            <!--right-->
            <div class="header__share">
                <span class="header__share-tip">Share:</span>
                <div class="header__social">
                    <div class="header__social-icon -facebook">
                        <img src="./img/facebook.svg" alt="facebook-share">
                    </div>
                    <p class="header__social-counter">45</p>
                </div>
                <div class="header__social">
                    <div class="header__social-icon -twitter">
                        <img src="./img/twitter.svg" alt="twitter-share">
                    </div>
                    <p class="header__social-counter">12</p>
                </div>
            </div>

        </div>
    </div>
</header>

<!--popup-->

<div class="sing-popup">

    <form action="" class="sing-form" id="singUpForm">
        <div class="sing-form__banner">
            <h2>Sing in</h2>
        </div>
        <label class="sing-form__input-container">
            <input type="text" name="name" placeholder="Name" required="" class="sing-form__input-field">
        </label>
        <label class="sing-form__input-container">
            <input type="email" name="email" placeholder="Email" required="" class="sing-form__input-field">
        </label>
        <label class="sing-form__input-container">
            <input type="pass" required="" placeholder="Password" class="sing-form__input-field">
        </label>
        <input type="submit" value="Submit" class="sing-form__send-button">
    </form>

</div>


