<section class="footer">

    <div class="footer__top-side">
        <div class="footer__container">
            <div class="footer__navigation">
                <!--1-->
                <a href="" class="footer__logo">Quantum</a>
                <!--2-->
                <div class="footer__info-links">


                    <div class="footer__multiple-item ">
                        <p class="footer__item-name">Shop</p>
                        <div class="footer__shop-arrow">
                            <img src="./img/arrow.svg" alt="arrow">
                        </div>
                        <span class="footer__hidden-links">
                            <a href="">For</a>
                            <a href="">What</a>
                        </span>
                    </div>


                    <a href="" class="footer__contact-link">Journal</a>
                    <a href="" class="footer__contact-link">About</a>
                    <a href="" class="footer__contact-link">Contacts</a>
                </div>


                <!--3-->
                <div class="footer__social">
                    <!--1-->
                    <a href="https://www.facebook.com" class="footer__social-item">
                        <svg xmlns="http://www.w3.org/2000/svg" class="footer__social-image -facebook" width="9"
                             height="17"
                             viewBox="0 0 9 17">
                            <path fill="#666666" d="M6.493.007c-.249 0-.428-.002-.473-.005-.977-.06-3.732 1.077-3.732 5.02v.958H.006l-.048 3.01h2.015V17h3.962V8.99h2.276l.673-3.01H5.935l.085-1.285c0-1.188.446-1.51.872-1.595.215-.042.423-.023.567-.023H8.966L8.993.005s-1.654.006-2.5.002z"/>
                        </svg>
                    </a>
                    <!--2-->
                    <a href="https://twitter.com" class="footer__social-item">
                        <svg xmlns="http://www.w3.org/2000/svg" class="footer__social-image -twitter" width="14" height="12" viewBox="0 0 14 12">
                            <path fill="#666666" d="M14.001 1.533c-.524.24-1.08.397-1.649.467A2.964 2.964 0 0 0 13.616.358c-.564.345-1.18.59-1.825.72a2.823 2.823 0 0 0-2.1-.935 2.861 2.861 0 0 0-2.039.877 2.974 2.974 0 0 0-.834 2.09c0 .229.025.455.076.678A8.063 8.063 0 0 1 .974.686C.21 2.041.597 3.766 1.863 4.65A2.788 2.788 0 0 1 .56 4.277v.038c-.006 1.406.958 2.622 2.305 2.91a2.79 2.79 0 0 1-1.296.052 2.892 2.892 0 0 0 2.683 2.061 5.65 5.65 0 0 1-3.566 1.27.895.895 0 0 1-.686-.04 7.924 7.924 0 0 0 4.4 1.335c2.187 0 4.281-.894 5.818-2.48a8.425 8.425 0 0 0 2.355-5.965c0-.129 0-.257-.008-.384a5.96 5.96 0 0 0 1.436-1.541z"/>
                        </svg>
                    </a>
                    <!--3-->
                    <a href="https://www.instagram.com" class="footer__social-item">
                        <svg xmlns="http://www.w3.org/2000/svg" class="footer__social-image -instagram" width="16" height="16" viewBox="0 0 16 16">
                            <path fill="#666666" d="M11.013 2H4.931c-.884 0-1.66.276-2.157.774C2.276 3.272 2 4.046 2 4.931v6.082c0 .885.277 1.66.83 2.213.553.497 1.272.774 2.156.774h6.028c.885 0 1.66-.277 2.158-.774.553-.498.83-1.272.83-2.157V4.986c0-.885-.277-1.604-.775-2.156-.553-.554-1.272-.83-2.213-.83zM16 11.309c0 1.382-.482 2.586-1.33 3.428-.844.842-2.05 1.263-3.378 1.263H4.71c-1.329 0-2.536-.421-3.381-1.263-.906-.842-1.33-2.046-1.33-3.428V4.692C0 1.925 1.872 0 4.71 0h6.642c1.388 0 2.536.481 3.38 1.323.847.842 1.27 1.985 1.27 3.369zM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-.03 2C5.752 12 4 10.176 4 8c0-2.236 1.811-4 3.97-4C10.13 4 12 5.764 12 8c0 2.235-1.81 4-4.03 4zM12 5c-.562 0-1-.438-1-1 0-.563.438-1 1-1 .564 0 1 .437 1 1 0 .562-.436 1-1 1z"/>
                        </svg>
                    </a>
                    <!--4-->
                    <a href="https://youtube.com" class="footer__social-item">
                        <svg xmlns="http://www.w3.org/2000/svg" class="footer__social-image -youtube" width="16" height="12" viewBox="0 0 16 12">
                            <path fill="#666666" d="M6 9.26V2.73L12 6zM16.001 2c0-1.1-.9-2-2-2H2C.9 0 0 .9 0 2v8c0 1.1.901 2 2 2h12.002c1.1 0 2-.9 2-2z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>


    </div>
    <div class="footer__bottom-side">
        <div class="footer__container">
            <div class="footer__copyright">
                <div class="footer__rights">
                    <p class="footer__rights-item">© 2016. Quantum UI kit</p>
                    <a href="" class="footer__rights-item">Privacy Policy</a>
                    <a href="" class="footer__rights-item">Terms of Use</a>
                </div>
                <div class="footer__payment">
                    <span>Accepted payment methods</span>
                    <div class="footer__method-image">
                        <img src="./img/footer-visa.jpg" alt="pay">
                    </div>
                    <div class="footer__method-image">
                        <img src="./img/footer-master.jpg" alt="pay">
                    </div>
                    <div class="footer__method-image">
                        <img src="./img/footer-paypal.jpg" alt="pay">
                    </div>
                    <div class="footer__method-image">
                        <img src="./img/footer-amazon.jpg" alt="pay">
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>