body
	font-family: 'Roboto', sans-serif
	font-size: 14px
	background-color: #fafafa

img
	max-width: 100%

svg
	overflow: hidden

//color variables
$main-color: #666666
$border-color: #f5f5f5
$active-color: #1875f0

.container
	width: 100%
	max-width: 1110px
	margin: 0 auto
	+r(1151)
		max-width: 1024px
	//+r(1023)
	//	max-width: 768px
	//+r(767)
	//	max-width: 640px
	//+r(639)
	//	max-width: 480px
	//+r(479)
	//	max-width: 320px

