.smart {
  &__title {
    display: block;
    position: relative;
    margin: 90px auto 112px;
    text-align: center;
    color: #666666;
    font-size: 30px;
    font-weight: 400;
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 68px;
      height: 2px;
      background-color: #1875f0;
      top: 81px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__general-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  /*______LEFT-SIDE______*/
  &__filter-box {
    display: block;
    width: 100%;
    max-width: 255px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    background-color: #ffffff;
  }
  &__filter {
    display: block;
    max-height: 59px;
    overflow: hidden;
    //padding: 23px 26px 20px;
    border-bottom: 2px solid $border-color;
  }
  &__filter-head {
    display: flex;
    justify-content: space-between;
    padding: 23px 20px 20px;
  }
  &__filter-name {
    color: #666666;
    font-size: 14px;
    font-weight: 500;
  }
  &__filter-arrow {
    display: block;
    transition: 0.4s;
    cursor: pointer;
    img {
      width: 10px;
    }
  }

  &__hidden-filter {
    display: block;
    transition: 1s;
  }
  /*when filter is open*/
  &__opened-filter {
    max-height: 400px;
    transition: 1s;
  }
  &__hidden-box {
    padding: 12px 20px 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    &.-range-box {
      display: block;
      padding-bottom: 28px;
    }
    &.-brands-box {
      padding-bottom: 37px;
    }
    &.-colors-box {
      padding-bottom: 37px;
    }
    &.-screen-size-box {
      flex-direction: column;
      .smart__check-item {
        max-width: 120px;
      }
    }
  }
  /*active arrow-button*/
  .smart__opened-filter.-rotated .smart__filter-arrow {
    transform: rotate(180deg);
    transition: 0.4s;
  }

  /*__________RANGE_*/
  &__range-box {
    #slider-range {
      width: 215px;
      height: 4px;
      border-radius: 2px;
      background-color: $border-color;
      .ui-state-default {
        display: inline-block;
        position: relative;
        top: -7px;
        width: 16px;
        height: 16px;
        border: 0;
        border-radius: 50%;
        background-color: $active-color;
      }
      .ui-slider-range {
        background-color: $active-color;

      }
    }
  }
  &__price-box {
    position: relative;
    &:before {
      display: block;
      position: absolute;
      width: 9px;
      height: 2px;
      color: #666666;
      content: "$";
      font-size: 12px;
      font-weight: 500;
      top: 3px;
      left: 15px;
    }
  }
  &__range-value {
    display: inline-block;
    width: 100%;
    max-width: 90px;
    margin-top: 33px;
    padding-left: 24px;
    border-radius: 4px;
    border: 2px solid $border-color;
    background-color: #ffffff;
    color: #666666;
    font-size: 12px;
    font-weight: 500;
    line-height: 50px;
  }
  &__price-divider {
    display: inline-block;
    width: 100%;
    max-width: 28px;
    text-align: center;
  }

  /*_____CHECKBOX_____*/
  &__check-item {
    display: flex;
    width: 100%;
    max-width: 100px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
  }
  &__check-item input {
    display: none;
  }
  &__check-item i {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
  }
  &__check-item input[type="checkbox"] + i {
    border-radius: 4px;
    border: 2px solid $border-color;
  }
  &__check-item i:before {
    content: url("../img/done.svg");
    top: 1px;
    left: 3px;
    position: absolute;
    border-radius: 4px;
    transform: scale(0);
    transition: 0.4s;
  }
  &__check-item input[type="checkbox"] + i:before {
    border-radius: 4px;
  }
  &__check-item input[type="checkbox"]:checked + i:before {
    content: url("../img/done.svg");
    transform: scale(1);
  }
  &__check-item input[type="checkbox"]:checked + i {
    background-color: $active-color;
    border-color: $active-color;
  }
  &__check-name {
    margin-left: 20px;
    color: #666666;
    font-size: 12px;
    font-weight: 500;
  }

  /*______show-more-button_*/
  &__show-more {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__more-button {
    display: block;
    position: absolute;
    z-index: 2;
    bottom: 27px;
    left: 26px;
    text-align: center;
    color: #b3b3b3;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    cursor: pointer;
    span {
      margin-left: 26px;
    }
  }
  .smart__show-more.-other-checkboxes-disable .smart__check-item {
    position: absolute;
    opacity: 0;
    transition: 0.4s;
  }



  /*______________RIGHT-SIDE________*/
  &__divice-menu {
    display: block;
    width: 100%;
    max-width: 825px;
  }


  &__goods-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 825px;
  }
  &__sort {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    background-color: #ffffff;
  }
  &__sort-name-box {
    display: flex;
    width: 100%;
    max-width: 310px;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;
    font-size: 13px;
    font-weight: 500;
    line-height: 50px;
    color: #808080;
    p {
      border-bottom: 2px solid transparent;
      cursor: pointer;
    }
  }
  &__active-sort {
      color: $active-color;
    border-bottom: 2px solid $active-color !important;
    transition: 0.5s;
  }
  &__view-type {
    display: flex;
    width: 100%;
    max-width: 120px;
  }
  &__type {
    display: flex;
    align-items: center;
    width: 58px;
    border-left: 2px solid $border-color;
  }
  &__type-image {
    margin: 0 auto;
    cursor: pointer;
  }
  &__type-image-active {
    path {
      fill: $active-color;
    }
  }
  /*________PRODUCT GRID________*/
  &__product-grid {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  &__product-grid-item {
    display: block;
    width: 100%;
    max-width: 255px;
    margin-top: 30px;
    padding-bottom: 35px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    background-color: #ffffff;
  }
  &__product-item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    span {
      display: block;
      padding: 6px 10px;
      border-radius: 4px;
      background-color: #f7f7f7;
      color: #b3b3b3;
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  &__item-navigation {
    display: flex;
    width: 100%;
    max-width: 63px;
    justify-content: space-between;
    align-items: center;
  /*wish-heart*/


  }
  &__top-button {
    cursor: pointer;
    &:last-child {
      opacity: 0.35;
    }
  }

  &__product {
    display: block;
    min-height: 160px;
    margin: 9px auto 29px;
    text-align: center;
  }
  &__product-name {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    span {
      display: block;
    }
  }
  &__rating-box {
    display: flex;
    width: 100%;
    max-width: 145px;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto 29px;
  }
  &__rating-votes {
    margin-left: 16px;
    color: #b3b3b3;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.12px;
    cursor: pointer;
  }
  &__product-price-box {
    display: flex;
    width: 100%;
    max-width: 93px;
    margin: 29px auto 0;
    justify-content: space-between;
    align-items: center;
  }
  &__product-price {
    display: block;
    color: #666666;
    font-size: 16px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0.16px;
  }
  &__product-shopcart {
    display: block;
    cursor: pointer;
  }
  /*_______PAGES NAVIGATION______*/
  &__pages-navigation {
    display: flex;
    width: 100%;
    max-width: 825px;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    padding: 24px 33px 22px 42px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    background-color: #ffffff;
  }
  &__go-to-page {
    display: block;
    position: relative;
    text-decoration: none;
    color: #b3b3b3;
    font-size: 10px;
    font-weight: 900;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    &.-previous {
      max-width: 126px;
      padding-left: 34px;
      &:before {
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        content: url("../img/arrow-page.svg");
      }
    }
    &.-next {
      max-width: 100px;
      padding-right: 34px;
      &:after {
        display: block;
        position: absolute;
        top: -4px;
        right: 0;
        content: url("../img/arrow-page.svg");
        transform: rotate(180deg);
      }
    }
  }
  &__current-page {
    display: block;
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 1.75px;
  }
}
